---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Speak to or message your fitness assistant using the chat widget, also launch the One Assist and Med Alert Alexa skills below 
to help you reach your fitness goals! 


`;
---

<Layout title="Fit Assistant">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">Fitness Assistant</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
    <p class="mb-8">
        <!-- <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg btn-primary sm:btn-wide">Zen Yoga</a>
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg btn-primary sm:btn-wide">Med Alert</a> -->
        <!-- <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg btn-primary sm:btn-wide">Read the Docs</a> -->
    </p>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.59/build/spline-viewer.js"></script>
    <spline-viewer url="https://prod.spline.design/EM9m52pXqDa57po8/scene.splinecode"></spline-viewer>
    <script type="text/javascript">
        (function (d, t) {
            var v = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
            v.onload = function () {
                window.voiceflow.chat.load({
                    verify: { projectID: '6786ea582d0ca55a90cf05c0' },
                    url: 'https://general-runtime.voiceflow.com',
                    versionID: 'production'
                });
            };
            v.src = 'https://cdn.voiceflow.com/widget-next/bundle.mjs';
            v.type = 'text/javascript';
            s.parentNode.insertBefore(v, s);
        })(document, 'script');
    </script>
</Layout>
